package ${package}.${project}.api.controller;

import java.util.Map;

import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import ${package}.${project}.api.model.${className};
import com.central.common.model.PageResult;
import com.central.common.model.Result;
import com.central.template.api.FeignClientConfig;
import org.springframework.cloud.openfeign.FeignClientsConfiguration;
import org.springframework.cloud.openfeign.FeignClient;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Api(tags = "${comments}")
@FeignClient(contextId = "${moduleName}${pathName}",
        name = FeignClientConfig.NAME, url = FeignClientConfig.URL, configuration = FeignClientsConfiguration.class)
public interface I${className}Controller {

#if(${pk})
    /**
     * 查询
     */
    @ApiOperation(value = "查询")
    @GetMapping("/${pathName}/{${pk.attrname}}")
    Result findUserById(@PathVariable Long ${pk.attrname});
#end

}
